.board-wrapper {
  display: grid;
  position: relative;
}
.draw-area canvas {
  position: absolute;
  left: 20px;
  top: 0;
  margin-top:10px;
  border: 2px solid #c8c8c8;
  border-radius: 10px 0px 10px 10px;
}
.tools {
  margin-top:30px;
  list-style: none;
  padding: 0px;
}
#canvas {
  background-color: #ffffff;
  z-index: 0;
}
#cursor {
  z-index: 1;
  pointer-events: none;
}
.tools li {
  cursor: pointer;
  padding: 10px 40px;
  background-color: #f2f2f2;
  border-top: 2px solid #abaaaa;
  border-left: 2px solid #abaaaa;
  border-right: 2px solid #abaaaa;
  z-index: 5;
}
.tools li:hover {
  background-color: #9ACD32;
  button.tools-icon-btn{
    background-color: #9ACD32;
  }
}
.tools li:nth-child(6) {
  border-bottom: 2px solid #abaaaa;
  border-bottom-right-radius: 5px;
}
.tools li:first-child {
  border-top-right-radius: 5px;
}
#tool-add {
  margin-top: 350px;
  border-bottom: 2px solid #abaaaa;
  border-radius: 5px;
}
button.tools-icon-btn {
  cursor: pointer;
  border: none;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  outline: none;
}

.word {
  display: inline;
}
.delete {
  margin-left: 5px;
  margin-right: 30px;
}
.result-btn {
  margin-top: 30px
}