.board-wrapper {
  display: grid;
  position: relative;
}
.draw-area canvas {
  position: absolute;
  left: 20px;
  top: 0;
  border: 2px solid #c8c8c8;
  border-radius: 10px 0px 10px 10px;
}
.tools {
  list-style: none;
  padding: 0px;
}

#canvas {
  background-color: #ffffff;
  z-index: 0;
}
#cursor {
  z-index: 1;
  pointer-events: none;
}
.tools li {
  cursor: pointer;
  padding: 10px 40px;
  background-color: #f2f2f2;
  border-top: 2px solid #abaaaa;
  border-left: 2px solid #abaaaa;
  border-right: 2px solid #abaaaa;
  z-index: 5;
}
.tools li:hover {
  background-color: #9ACD32;
  button.tools-icon-btn{
    background-color: #9ACD32;
  }
}
.tools li:last-child {
  border-bottom: 2px solid #abaaaa;
  border-bottom-right-radius: 5px;
}
.tools li:first-child {
  border-top-right-radius: 5px;
}
button.tools-icon-btn {
  cursor: pointer;
  border: none;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  outline: none;
}
