html {
    box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
    background: #ebebeb;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    margin: 0;
}

::placeholder {
    color: #ccc;
    font-size: 15px;
}

.empty {
    margin-bottom: 200px;
}

.header {
    font-family: "Comic Sans MS";
    text-align: center;
    background-image: url("../assets/preview.jpg");
    background-position: center center;
    margin-bottom: 20px;
    // justify-content: center;
    p {
        margin:0px;
        font-size:55px;
        padding: 40px;
        color: black;
        text-shadow: 0 0 0 black;
        font-weight: bold;
        border: none;
        cursor: pointer;
    }
    p:hover {
        transform: scale(1.05);
    }
}

.title-input {
    padding: 10px;
    border: none;
    outline: none;
}

.title-input::placeholder {
    font-size: 18px;
}

.footer {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 20px 0;
    text-align: center;
    background: #ffd139;
    box-shadow: 2px 0 5px 3px gray;

}


